@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+MX+Guides&display=swap');

p{
      font-family: "Edu NSW ACT Cursive", cursive;

}
h2{
      font-family: "Playwrite MX Guides", cursive;

}