.galleryGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;
  height: 400px;
}

.bigImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.galleryHeader{

    display:flex;
    justify-content:space-between;
    margin-bottom:7px;
}

.smallColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.smallColumn img,
.tallImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}


.tallImg {
  height: 100%;
}
.carouselButtons {
  display: flex;
  gap: 10px;
}

.arrowBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}


.grayBtn {
  background: var(--color-border);
  color: var(--color-primary-text);
}

.grayBtn:hover {
  background: var(--color-text-muted);
}


.blueBtn {
  background: var(--color-primary-accent-active);
  color: var(--color-primary-text);
}

.blueBtn:hover {
  background: var(--color-primary-dark);
}