.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  backdrop-filter: blur(4px);
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--color-card-background);
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: var(--shadow-card);
  z-index: 2001;
  width: 90%;
  max-width: 420px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  transition: color 0.2s;
  padding: 5px;
  z-index: 2002;
}
.closeBtn:hover {
  color: var(--color-primary-accent);
}

.modalTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 1.5rem;
  text-align: left;
}
[dir="rtl"] .modalTitle {
  text-align: right;
}

[dir="rtl"] .closeBtn {
  right: auto;
  left: 15px
}