.galleryGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;
  height: 400px;
}

.bigImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.galleryHeader{

    display:flex;
    justify-content:space-between;
    margin-bottom:7px;
}

.smallColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.smallColumn img,
.tallImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}


.tallImg {
  height: 100%;
}
.carouselButtons {
  display: flex;
  gap: 10px;
}

.arrowBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}


.grayBtn {
  background: var(--color-border);
  color: #fff;
}

.grayBtn:hover {
  background: #cacaca;
}


.blueBtn {
  background:var(--color-primary-accent-active);
  color: white;
}

.blueBtn:hover {
  background: #08304a;
}

@media (max-width: 992px) {
  .mainImage {
    height: 400px;
  }
  .thumbnail {
    width: 80px;
    height: 60px;
  }
  .calendarBox {
    max-width: 220px;
  }
}

@media (max-width: 768px) {
  .mainImage {
    height: 300px;
  }
  .thumbnail {
    width: 70px;
    height: 50px;
  }
  .calendarBox {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .mainImage {
    height: 250px;
  }
  .thumbnail {
    width: 60px;
    height: 45px;
  }
  .calendarGrid {
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
  }
}